body{
    background-color: #EDEDED; 
  }
  /* Navbar */
  
  .navigation .navbar-brand{
    color: white; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    font-family: Georgia, 'Times New Roman', Times, serif;
   }

  .navbar{
    /*background-color: white; */
    font-size: 15px; 
    
  }

  
  .active, .dropdown-menu .dropdown-item:active a:hover{
    /* background-color:#E7E7E7!important;*/ 

  }
  .dropdown-item{
    color: #6D8092 !important; 
  }
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#E7E7E7 !important; 
  }
  a{
    color: #f4f6f8;
    font-size: 20 px; 
  }
  
  .navbar-brand:hover{
  color: rgb(175, 175, 175) !important;
  }

  .white {
    background: white;
  }

  h1{
    color: #189cc4;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h4{
    color: #189cc4;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .margin{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
  }

  .padbox{
    padding: 100px;
  }

  